{% extends 'layout.html' %}
{% load static %}

{% block title %}
    To-Do List App
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}

{% block content %}
    <div class="todo-app">
        <h2>Create Todo Item</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Create</button>
        </form>

        <h2>Todo Items</h2>
        <ul>
            {% if todo_items %}
                {% for item in todo_items %}
                    <li>
                        {{ item.item }} - {% if item.is_completed %}Completed{% else %}Not Completed{% endif %}
                        (Due: {{ item.due_date }})
                    </li>
                {% endfor %}
            {% else %}
                <li>No items to display</li>
            {% endif %}
        </ul>
    </div>
{% endblock %}

{% block scripts %}
    <!-- <script src="{% static 'script.js' %}"></script>-->
{% endblock %}