*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.todo_container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #0b3f61, #d17cb5);
    padding: 10px;
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 40px;
    border-radius: 10px;
}